# Start

In [1]:
# Librerías

import numpy as np
import pandas as pd

In [3]:
# Importamos los datos de todas las tablas disponibles

actor = pd.read_csv('../data/actor.csv')
category = pd.read_csv('../data/category.csv')
film = pd.read_csv('../data/film.csv')
language = pd.read_csv('../data/language.csv')
actorfilm = pd.read_csv('../data/old_HDD.csv') # Esta conectará actores y películas, le cambiamos el nombre
rental = pd.read_csv('../data/rental.csv')

In [11]:
# Vamos a echar un ojo a cada tabla, con sus nulos, la información general y su tamaño

print(actor.shape)
print(actor.isna().sum())
display(actor.head())

(200, 4)
actor_id       0
first_name     0
last_name      0
last_update    0
dtype: int64

   actor_id first_name     last_name          last_update
0         1   PENELOPE       GUINESS  2006-02-15 04:34:33
1         2       NICK      WAHLBERG  2006-02-15 04:34:33
2         3         ED         CHASE  2006-02-15 04:34:33
3         4   JENNIFER         DAVIS  2006-02-15 04:34:33
4         5     JOHNNY  LOLLOBRIGIDA  2006-02-15 04:34:33