# Data organization

In [1]:
# Librerías

import numpy as np
import pandas as pd
import sys

# Funciones del archivo fun.py

sys.path.append('/home/marta/Desktop/IH/Lets_blockbust/SCC')
from fun import firstglance

In [2]:
actor = pd.read_csv('../data/actor_clean.csv')
category = pd.read_csv('../data/category_clean.csv')
film = pd.read_csv('../data/film_clean.csv')
language = pd.read_csv('../data/language_clean.csv') 
actorfilm = pd.read_csv('../data/actorfilm_clean.csv') # Esta conectará actores y películas, le cambiamos el nombre
rental = pd.read_csv('../data/rental_clean.csv') 
inventory = pd.read_csv('../data/inventory_clean.csv')
updates = pd.read_csv('../data/updates_clean.csv')
staff = pd.read_csv('../data/staff_clean.csv')
customers = pd.read_csv('../data/customers_clean.csv')

Como último retoque, estaría bien que el género de la película (category_id) no estuviera en actorfilm, sino en la propia tabla de películas. Vamos a hacer un traslado de una a otra a través de un diccionario como antes.

In [3]:
cat_dict = dict(zip(actorfilm.film_id,actorfilm.category_id))

cat_dict

{1: 6,
 23: 2,
 25: 13,
 106: 10,
 140: 14,
 166: 4,
 277: 11,
 361: 15,
 438: 10,
 499: 8,
 506: 11,
 509: 3,
 605: 9,
 635: 13,
 749: 11,
 832: 8,
 939: 5,
 970: 4,
 980: 12,
 3: 6,
 31: 8,
 47: 9,
 105: 1,
 132: 14,
 145: 8,
 226: 13,
 249: 4,
 314: 2,
 321: 13,
 357: 4,
 369: 14,
 399: 9,
 458: 8,
 481: 13,
 485: 3,
 518: 16,
 540: 12,
 550: 8,
 555: 5,
 561: 13,
 742: 10,
 754: 5,
 811: 16,
 958: 7,
 17: 12,
 40: 6,
 42: 15,
 87: 16,
 111: 1,
 185: 9,
 289: 13,
 329: 1,
 336: 6,
 341: 4,
 393: 6,
 441: 6,
 453: 15,
 480: 4,
 539: 7,
 618: 7,
 685: 13,
 827: 7,
 966: 6,
 967: 14,
 971: 9,
 996: 6,
 56: 1,
 62: 6,
 79: 7,
 355: 2,
 379: 7,
 398: 12,
 463: 15,
 490: 13,
 616: 6,
 691: 15,
 712: 6,
 714: 14,
 721: 12,
 798: 14,
 858: 5,
 909: 11,
 924: 14,
 19: 1,
 54: 12,
 85: 6,
 146: 7,
 171: 11,
 172: 7,
 202: 5,
 203: 14,
 286: 16,
 288: 16,
 316: 10,
 340: 13,
 375: 1,
 383: 15,
 392: 3,
 411: 12,
 503: 15,
 535: 11,
 571: 6,
 650: 6,
 665: 11,
 687: 6,
 730: 13,
 732: 1,
 817: 14,
 841: 15,
 865: 2,
 29: 1,
 53: 8,
 60: 4,
 70: 2,
 112: 9,
 164: 6,
 165: 14,
 193: 2,
 256: 15,
 451: 16,
 517: 15,
 519: 15,
 692: 2,
 826: 16,
 892: 2,
 902: 15,
 994: 13,
 27: 15,
 35: 11,
 67: 1,
 96: 13,
 170: 9,
 173: 7,
 217: 10,
 218: 7,
 225: 7,
 292: 1,
 351: 11,
 414: 9,
 554: 4,
 633: 4,
 637: 14,
 758: 7,
 766: 7,
 770: 9,
 805: 2,
 806: 13,
 846: 13,
 900: 9,
 901: 2,
 910: 7,
 957: 9,
 959: 3,
 115: 1,
 158: 12,
 179: 7,
 195: 14,
 205: 1,
 255: 12,
 263: 15,
 396: 7,
 523: 4,
 532: 15,
 752: 12,
 769: 9,
 771: 7,
 859: 2,
 895: 4,
 936: 12,
 30: 11,
 74: 12,
 147: 8,
 148: 9,
 191: 3,
 200: 10,
 204: 7,
 434: 16,
 510: 2,
 514: 7,
 552: 6,
 671: 15,
 697: 1,
 722: 11,
 815: 4,
 873: 3,
 889: 3,
 903: 16,
 926: 6,
 964: 1,
 974: 13,
 9: 11,
 236: 10,
 251: 13,
 366: 7,
 477: 12,
 522: 5,
 530: 1,
 587: 6,
 694: 4,
 703: 2,
 716: 11,
 782: 15,
 914: 16,
 929: 9,
 930: 14,
 983: 12,
 118: 2,
 281: 10,
 283: 13,
 348: 8,
 364: 13,
 395: 1,
 429: 15,
 433: 2,
 567: 9,
 597: 10,
 636: 12,
 709: 7,
 850: 1,
 854: 11,
 888: 6,
 896: 3,
 928: 3,
 938: 5,
 969: 7,
 988: 16,
 16: 9,
 34: 11,
 37: 4,
 91: 4,
 92: 11,
 107: 7,
 155: 13,
 177: 14,
 208: 2,
 213: 8,
 216: 13,
 243: 2,
 344: 3,
 400: 6,
 416: 9,
 420: 15,
 457: 6,
 513: 16,
 593: 11,
 631: 15,
 672: 5,
 728: 7,
 812: 6,
 838: 1,
 871: 5,
 880: 2,
 945: 6,
 45: 13,
 110: 3,
 144: 13,
 154: 2,
 162: 1,
 254: 15,
 337: 9,
 346: 4,
 381: 10,
 385: 5,
 427: 6,
 456: 2,
 515: 3,
 524: 5,
 528: 8,
 588: 3,
 600: 11,
 718: 12,
 729: 15,
 816: 2,
 833: 3,
 843: 4,
 897: 7,
 998: 11,
 187: 15,
 232: 10,
 241: 2,
 253: 1,
 258: 11,
 284: 12,
 370: 3,
 415: 11,
 417: 1,
 418: 7,
 454: 12,
 472: 16,
 475: 11,
 495: 11,
 536: 4,
 537: 4,
 612: 15,
 688: 3,
 759: 13,
 764: 15,
 847: 13,
 856: 11,
 890: 15,
 908: 9,
 919: 10,
 948: 13,
 89: 2,
 108: 13,
 125: 16,
 275: 11,
 280: 3,
 326: 2,
 342: 16,
 445: 4,
 500: 9,
 502: 5,
 541: 2,
 553: 3,
 594: 1,
 626: 3,
 745: 15,
 783: 16,
 795: 8,
 886: 2,
 949: 10,
 968: 1,
 985: 14,
 80: 8,
 101: 6,
 121: 2,
 221: 6,
 267: 13,
 269: 8,
 271: 1,
 287: 1,
 345: 8,
 455: 9,
 548: 4,
 582: 2,
 583: 2,
 717: 1,
 779: 15,
 119: 5,
 124: 3,
 127: 5,
 199: 6,
 201: 9,
 310: 10,
 313: 11,
 378: 12,
 469: 4,
 478: 5,
 521: 7,
 573: 3,
 603: 8,
 606: 15,
 734: 6,
 794: 1,
 800: 11,
 853: 3,
 874: 4,
 44: 14,
 84: 16,
 268: 2,
 279: 15,
 386: 16,
 460: 9,
 462: 12,
 484: 4,
 808: 4,
 842: 10,
 863: 14,
 883: 3,
 917: 15,
 944: 7,
 2: 11,
 152: 3,
 182: 5,
 212: 1,
 266: 4,
 404: 5,
 428: 8,
 473: 7,
 644: 2,
 670: 6,
 673: 12,
 711: 14,
 750: 13,
 756: 5,
 785: 16,
 877: 12,
 63: 8,
 231: 8,
 274: 6,
 492: 13,
 527: 11,
 531: 9,
 538: 13,
 589: 6,
 643: 7,
 652: 4,
 663: 4,
 757: 6,
 784: 16,
 962: 4,
 977: 16,
 6: 9,
 88: 16,
 142: 6,
 159: 5,
 426: 12,
 497: 6,
 507: 10,
 680: 5,
 686: 13,
 700: 8,
 702: 11,
 733: 15,
 804: 11,
 887: 2,
 893: 14,
 920: 13,
 291: 15,
 294: 16,
 349: 2,
 430: 2,
 483: 10,
 491: 3,
 634: 8,
 648: 16,
 731: 4,
 775: 7,
 802: 1,
 912: 14,
 78: 2,
 116: 4,
 117: 10,
 235: 14,
 367: 14,
 419: 8,
 435: 9,
 449: 14,
 549: 1,
 649: 2,
 820: 2,
 855: 6,
 935: 13,
 981: 16,
 997: 12,
 83: 8,
 126: 1,
 178: 5,
 194: 1,
 242: 5,
 335: 5,
 405: 16,
 585: 7,
 653: 11,
 704: 5,
 781: 10,
 829: 8,
 21: 1,
 86: 12,
 153: 14,
 245: 2,
 311: 9,
 564: 2,
 755: 3,
 90: 13,
 93: 13,
 103: 16,
 186: 7,
 327: 1,
 390: 14,
 529: 5,
 544: 6,
 682: 8,
 715: 8,
 821: 9,
 885: 11,
 904: 11,
 906: 5,
 150: 6,
 273: 8,
 334: 11,
 347: 16,
 359: 8,
 586: 1,
 679: 8,
 695: 8,
 830: 11,
 986: 2,
 14: 4,
 43: 8,
 58: 6,
 259: 2,
 358: 4,
 508: 10,
 551: 13,
 574: 1,
 619: 15,
 625: 14,
 743: 2,
 790: 7,
 793: 1,
 835: 10,
 879: 12,
 953: 2,
 973: 6,
 10: 15,
 131: 4,
 133: 12,
 282: 7,
 296: 14,
 436: 13,
 444: 5,
 482: 4,
 488: 15,
 547: 3,
 590: 13,
 646: 10,
 723: 14,
 862: 4,
 64: 7,
 69: 14,
 77: 13,
 260: 15,
 262: 8,
 301: 11,
 318: 1,
 565: 9,
 797: 12,
 163: 13,
 188: 5,
 299: 16,
 308: 5,
 368: 7,
 380: 9,
 431: 9,
 739: 7,
 978: 5,
 65: 11,
 136: 13,
 197: 15,
 219: 6,
 309: 8,
 312: 14,
 401: 7,
 651: 2,
 667: 15,
 669: 9,
 135: 15,
 214: 3,
 252: 1,
 305: 13,
 306: 10,
 489: 2,
 735: 3,
 737: 11,
 878: 16,
 881: 11,
 965: 11,
 972: 14,
 993: 3,
 244: 12,
 389: 15,
 493: 9,
 525: 4,
 668: 15,
 720: 13,
 788: 6,
 836: 15,
 950: 4,
 52: 9,
 615: 2,
 707: 1,
 738: 9,
 748: 1,
 15: 9,
 81: 14,
 387: 10,
 410: 5,
 466: 6,
 569: 2,
 875: 15,
 915: 1,
 931: 16,
 956: 10,
 12: 12,
 122: 11,
 317: 5,
 467: 9,
 572: 14,
 662: 7,
 839: 14,
 840: 10,
 925: 6,
 963: 2,
 989: 16,
 24: 11,
 160: 2,
 176: 15,
 223: 2,
 338: 14,
 353: 9,
 448: 13,
 450: 3,
 501: 1,
 516: 12,
 705: 9,
 876: 11,
 71: 8,
 73: 14,
 168: 3,
 222: 11,
 290: 9,
 293: 15}

In [4]:
# Ahora nos vamos a la tabla de film y construimos la nueva columna.

# Esta función nos ayudará a establecer un valor de -1 para aquellas películas del registro que
# no pertenezcan a una categoría concreta:

def exchange(i): 
    try: return cat_dict[i]
    except: return -1

film['category_id'] = [exchange(i) for i in film.film_id]

film.head()

,Unnamed: 0,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,deleted_scenes,behind_scenes,trailer,commentaries,category_id
0,0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,-1,6,0.99,86,20.99,PG,1,1,0,0,6
1,1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,-1,3,4.99,48,12.99,G,1,0,1,0,11
2,2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,-1,7,2.99,50,18.99,NC-17,1,0,1,0,6
3,3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,-1,5,2.99,117,26.99,G,0,1,0,1,-1
4,4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,-1,6,2.99,130,22.99,G,1,0,0,0,-1

In [5]:
# Eliminamos la columna de category_id de actorfilm y listo:

actorfilm.drop(columns = 'category_id', inplace = True)

actorfilm.head() # Hecho

   Unnamed: 0  film_id  actor_id
0           0        1         1
1           1       23         1
2           2       25         1
3           3      106         1
4           4      140         1